body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 22vw;
  background-color: #333;
  color: white;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

#search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

#question-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: calc(100vh - 130px);
  overflow-y: auto;
}

.sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #444;
  padding: 5px;
  border-radius: 5px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

h1 {
  text-align: center;
}

.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#question-count {
  width: 60px;
  padding: 8px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #7c7c7c;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #5c5c5c;
}

.question-card {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#answer-container {
  background-color: #e0ffe0;
  padding: 10px;
  margin-top: 20px;
  font-weight: bold;
  color: #007700;
}